
h1 {
    font-weight: bold;
    color: rgb(64, 81, 109);
    margin: 10px 10px 10px 0px;
}

h3 {
    font-style: italic;
    color: rgb(156, 178, 214);
    margin: 10px 10px 20px 0px;
}

p {
    display: inline;
    margin-left: 60px;
    line-height: 40px;
}

fieldset {
    width: 70%;
}

input {
    width: 40%;
}

input#quantity {
    width: 25%;
}

input#button {
    width: 7%;
    border-radius: 5px;
    margin-left: 2px;
    margin-top: 5px;
    text-transform: capitalize;
}