body {
    font-family: 'Roboto Slab', serif;
}

#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/pictures_on_the_wall.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    color: white;
}

a#nav-link,
section#header h2,
section#services > p,
section#portfolio p,
section#team h2 + p,
section#contact p {
    font-style: italic;
}

section#services > p,
section#portfolio p,
section#team h2 + p,
section#contact p {
    padding-bottom: 50px;
}
.b-g-color {
    background-color: rgba(14, 216, 214, 0.6);
}

#header-item {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

ul#main-nav a.main-nav-link,
a#nav-link {
    color: white;
}

ul#main-nav a.main-nav-link:hover,
a#nav-link:hover {
    color: aqua;
}

#header-button,
#contact-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: #0ed8d6;
    border: 1px solid #0ed8d6;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.4s;
}

#header-button:hover,
#contact-button:hover {
    background-color: white;
    border: 1px solid #0ed8d6;
    color: #0ed8d6;
}

#services {
    text-align: center;
    padding-top: 100px;
}

#portfolio {
    text-align: center;
    background-color: #f7f7f7;
    padding-top: 100px;
}

div.services i {
    background-color: #0ed8d6;
    border: 1px solid #0ed8d6;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.4s;
}

div.services i:hover {
    background-color: #fff;
    color: #0ed8d6;
    transform: rotate(360deg);
}

#row {
    margin-top: 60px;
}

#portfolio1 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

#portfolio2 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#portfolio3 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

#portfolio4 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#portfolio5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#portfolio6 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

.portfolio-inner {
    height: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 30px;
    transition: all 0.4s;
    line-height: 300px;
}

.portfolio-inner:hover {
    transform: scale(1.5);
}

.portfolio-midle {
    overflow: hidden;
    height: 300px;
}

.portfolio {
    text-align: center;
}

.mask {
    height: 100%;
    transition: all 0.4s;
    color: rgba(255, 255, 255, 0);
}

.mask:hover {
    background-color: rgba(14, 216, 214, 0.6);
    color: rgba(255, 255, 255, 1);
}

#team {
    text-align: center;
    padding-top: 100px;
}

section#team div+p {
    padding: 50px;
}

div.about i,
div.footer-icons i {
    background-color: #333333;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.4s;
}

div.about i:hover,
div.footer-icons i:hover {
    background-color: #0ed8d6;
    color: #fff;
}

#member1 {
    background-image: url(../img/team/man-1.jpg);
}

#member2 {
    background-image: url(../img/team/man-2.jpg);
}

#member3 {
    background-image: url(../img/team/woman-1.jpg);
}

.member-picture {
    height: 200px;
    width: 200px;
    margin: auto;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/footer/world-map.jpg);
    text-align: center;
    color: white;
    padding-top: 100px;
}

input.contact {
    margin-bottom: 20px;
    height: 50px;
}

textarea.message {
    height: 192px;
}

#contact-button {
    margin-bottom: 100px;
}

#footer {
    text-align: center;
    line-height: 70px;
}

#footer p,
div.line-height nav ul{
    margin: 0;
}

div.line-height nav ul li {
    display: inline-block;
}

div.line-height nav ul li a {
    color: black;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}