* {
    box-sizing: border-box;
}

span {
    color: #1ac056;
    font-weight: 400;
}

section {
    padding: 40px 50px;
}

section h2 {
    font-weight: 300;
}

.clear {
    clear: both;
}

body {
    margin: 0;
    color: #291F1A;
    font-family: 'Lato', sans-serif;
}

/*nav*/

#main-nav label,
#rwdmenu {
    display: none;
}

#main-nav ul {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
}


/*    navigacja    */

nav#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 9999;
}

nav#main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav#main-nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-right: 45px;
}

nav#main-nav ul li a {
    color: #1ac056;
    text-decoration: none;
}


/*   header     */

header#main-header {
    background-image: url(../grafiki/img/header-background.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    text-align: center;
}

div.inner-header {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#main-header .inner-header h1,
#main-header .inner-header h2 {
    font-weight: 100;
    color: white;
}

#main-header .inner-header h1 {
    font-size: 70px;
}

#main-header .inner-header h2 {
    font-size: 50px;
}

/*about*/

#about {
    text-align: center;
    background-color: #F9FCFE;
}

figure.about-inner {
    display: inline-block;
    width: 50%;
    float: left;
    margin: 0;
    text-align: center;
}

figure.about-inner img {
    width: 50%;
    display: inline-block;
    border: 10px solid white;
    border-radius: 10px;
}

div.about-inner {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: left;
}

/*       skills     */

section#skills {
    text-align: center;
}

section#skills figure {
    display: inline-block;
}

section#skills figure figcaption {
    text-transform: uppercase;

}


/*    portfolio   */

section#portfolio {
    text-align: center;
}

div.portfolio {
    width: 80%;
/*    albo overflow: hidden albo clear do html */
    
/*    ten styl trzeba usunac */
    display: inline-block;
    margin-top: 15px;
}

div.background {
    display: inline-block;
    float: left;
    width: 33.3333%;
    background-position: center;
    height: 300px;
    background-size: cover;
}

div#p1 {
    background-image: url(../grafiki/img/portfolio1.jpg);
}

div#p2 {
    background-image: url(../grafiki/img/portfolio2.jpg);
}

div#p3 {
    background-image: url(../grafiki/img/portfolio3.jpg);
}

div.mask {
/*    width: 100%;*/
    height: 100%;
/*    display: inline-block;*/
    padding: 10px;
/*    box-sizing: border-box;*/
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    background-color: rgb(78, 92, 114, 0.7);
    opacity: 0;
}

div.mask:hover {
    opacity: 1;

}

div.border {
    height: 100%;
    position: relative;
    border: 1px solid white;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

}

div.content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
/*    color: rgba(255, 255, 255, 0.0);*/
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    color: #FFF;
}

/*    kontakt    */

section#contact {
    background-color: #213B50;
    color: white;
    overflow: hidden;    
/*    albo overflow: hidden albo clear do html za ostatni element z float*/
}
div.contact {
    width: 50%;
    display: inline-block;
    float: left;
}

/*dodac druga klase bo sie powtarza*/
div.contact.form {
    text-align: right;
}

address p {
    margin: 40px 0;
    font-style: normal;
}

input {
    width: 100%;
    height: 50px;
/*    margin moze byc w dol :) */   
/*    uzupelnienie input przez padding */
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #495c7a;
    border-width: 0;
    color: lightgray;
}

textarea {
    width: 100%;
/*    uzupelnienie textarea przez padding */
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #495c7a;
    border-width: 0;

}

input#button {
    width: 100px;
    background-color: #1ac056;
    border: 1px solid white;
    padding: 0;

}

::placeholder {
    color: lightgray;
}

div#awesome {
    font-size: 50px;
}

address a {
    color: #1ac056;
}

div#awesome a {
    color: white;
    margin-left: 5px;
    float: left;
    margin-right: 25px;
}
